# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Test install files
install/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac files
.DS_Store
